1. Count numbers (*)
  Use a for statement to count from:

    a)   -10 to 10 with one increment (*)

    b)   -10 to 10 with two increment (*)

In [21]:
for x in range(-10,11):
    print(f"{x}", end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [20]:
for x in range(-10, 11, 2):
    print(f"{x}", end=' ')

-10 -8 -6 -4 -2 0 2 4 6 8 10

### 2. Arithmetic sum
- Use a *for* statement to compute the following sum....

In [62]:
x = 1
sum = 0

for x in range(1, 101):
    if x != 100:
        print(f"{x} +", end=" ")
    else:
        print(f"{x} = ", end="")
    sum += x
print(sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 + 24 + 25 + 26 + 27 + 28 + 29 + 30 + 31 + 32 + 33 + 34 + 35 + 36 + 37 + 38 + 39 + 40 + 41 + 42 + 43 + 44 + 45 + 46 + 47 + 48 + 49 + 50 + 51 + 52 + 53 + 54 + 55 + 56 + 57 + 58 + 59 + 60 + 61 + 62 + 63 + 64 + 65 + 66 + 67 + 68 + 69 + 70 + 71 + 72 + 73 + 74 + 75 + 76 + 77 + 78 + 79 + 80 + 81 + 82 + 83 + 84 + 85 + 86 + 87 + 88 + 89 + 90 + 91 + 92 + 93 + 94 + 95 + 96 + 97 + 98 + 99 + 100 = 5050

In [61]:
x =1
sum = 0

for x in range(1, 100, 2):
    if x != 99:
        print(f"{x} +", end=" ")
    else:
        print(f"{x} =", end=" ")
    sum += x
print(sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

### 3. Multiplication table (*)
Use for statement(s) to:

  - a)   print out the 6th multiplication table from 0 to 10 (*)

  - b)   let the user input the table, start and end of the table. (*)

  - c)   print out a full multiplication table from 0 to 10. (**)

Hint
- c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use f-string:

print(f"{number :4}", end = "")
Answer

In [47]:
# a)

for i in range(11):
    print(f"6 x {i} = {i*6}")

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [51]:
# b)
table = int(input("Which table are you interested in? "))
start = int(input("Specify start of table: "))
end = int(input("Specify end of table: "))

print(f"Your {table}th multiplication table from start {start} to end {end}:")
for i in range(start, end+1):   
    print(f"{table} x {i} = {table* i}")

Your 5th multiplication table from start 5 to end 12:
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [45]:
def  print_column_headers():
    print("    ", end="")
    for i in range(11):
        print(f"{i:4}", end="")
    print("\n")

def print_multiplication_table():
    for i in range(11):
        print(f"{i:2} |", end="")
        for j in range(11):
            result = i * j
            print(f"{result:4}", end="")
        print("\n")

print_column_headers()
print_multiplication_table()

       0   1   2   3   4   5   6   7   8   9  10

 0 |   0   0   0   0   0   0   0   0   0   0   0

 1 |   0   1   2   3   4   5   6   7   8   9  10

 2 |   0   2   4   6   8  10  12  14  16  18  20

 3 |   0   3   6   9  12  15  18  21  24  27  30

 4 |   0   4   8  12  16  20  24  28  32  36  40

 5 |   0   5  10  15  20  25  30  35  40  45  50

 6 |   0   6  12  18  24  30  36  42  48  54  60

 7 |   0   7  14  21  28  35  42  49  56  63  70

 8 |   0   8  16  24  32  40  48  56  64  72  80

 9 |   0   9  18  27  36  45  54  63  72  81  90

10 |   0  10  20  30  40  50  60  70  80  90 100